In [23]:
pip install bs4

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [25]:
url = "https://books.toscrape.com/catalogue/page-1.html"

In [26]:
response = requests.get(url)

In [27]:
response = response.content

In [28]:
soup = BeautifulSoup(response,'html.parser')

In [29]:
ol = soup.find('ol')

In [30]:
articles = ol.find_all('article',class_ = 'product_pod')

In [31]:
for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    print(title)

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [32]:
for article in articles:
    star = article.find('p')
    star = star['class']
    print(star)

['star-rating', 'Three']
['star-rating', 'One']
['star-rating', 'One']
['star-rating', 'Four']
['star-rating', 'Five']
['star-rating', 'One']
['star-rating', 'Four']
['star-rating', 'Three']
['star-rating', 'Four']
['star-rating', 'One']
['star-rating', 'Two']
['star-rating', 'Four']
['star-rating', 'Five']
['star-rating', 'Five']
['star-rating', 'Five']
['star-rating', 'Three']
['star-rating', 'One']
['star-rating', 'One']
['star-rating', 'Two']
['star-rating', 'Two']

In [33]:
for article in articles:
    star = article.find('p')
    star = star['class'][1]
    print(star)

Three
One
One
Four
Five
One
Four
Three
Four
One
Two
Four
Five
Five
Five
Three
One
One
Two
Two

In [34]:
for article in articles:
    price = article.find('p', class_='price_color').text
   
    print(price)

£51.77
£53.74
£50.10
£47.82
£54.23
£22.65
£33.34
£17.93
£22.60
£52.15
£13.99
£20.66
£17.46
£52.29
£35.02
£57.25
£23.88
£37.59
£51.33
£45.17

In [35]:
for article in articles:
    price = article.find('p',class_ ='price_color').text
    price = float(price[1:])
    print(price)

51.77
53.74
50.1
47.82
54.23
22.65
33.34
17.93
22.6
52.15
13.99
20.66
17.46
52.29
35.02
57.25
23.88
37.59
51.33
45.17

In [40]:
books = []

for i in range(1,6):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response,'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article',class_ = 'product_pod')
    
    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p',class_ ='price_color').text
        price = float(price[1:])
        books.append([title,price,star])

In [41]:
df = pd.DataFrame(books,columns=['Title','Price','Stars'])

In [48]:
df

                                                Title  Price  Stars
0                                A Light in the Attic  51.77  Three
1                                  Tipping the Velvet  53.74    One
2                                          Soumission  50.10    One
3                                       Sharp Objects  47.82   Four
4               Sapiens: A Brief History of Humankind  54.23   Five
..                                                ...    ...    ...
95  Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...  19.92    Two
96  Layered: Baking, Building, and Styling Spectac...  40.11    One
97  Judo: Seven Steps to Black Belt (an Introducto...  53.90    Two
98                                               Join  35.67   Five
99          In the Country We Love: My Family Divided  22.00   Four

[100 rows x 3 columns]

In [ ]:
df.to_excel('book.xlsx')
df.to_csv('book.csv')